@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutEmpleado.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido al Sistema de Gestión del Gimnasio</h1>
</div>
